
* {
  margin: 0;
  padding: 0;
  font-family: SF display, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 120px;
  margin-right: 120px;
}
input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
}
.search-input {
  color: white;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-1 {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
  background-size: 100%;
  padding: 20px;
}











.hero-contect {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 68px;
}
.hero-picture {
  border-radius: 5px;
}
.hero-contect div {
  width: 50%;
  color: aliceblue;
}

.hero-contect h1 {
  -webkit-text-stroke: white 1px;
  color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}

.shine {
  font-weight: 700;
  font-size: 14px;
  color: #0078f6;
  animation: blink 2s linear infinite;
}
@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}






.garchig {
  background: url("niitlel.png");
  background-size: cover;
  height: 446.4px;
  max-width: 446.4px;
  background-position: center;
  border-radius: 16px;
  background-size: 160%;
  overflow: hidden;
  transition: all 0.4s;
}
.garchig:hover {
  background-size: 175%;
}
.garchig-text {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bolder;
  transition: all 0.4s;
  font-weight: 700;
}
.garchig-text:hover {
  opacity: 0.7;
}










.icons {
  width: 16px;
  height: 15px;
  opacity: 70%;
  display: flex;
  align-items: center;
  gap: 13px;
  color: white;
}
.fa-square-facebook {
  opacity: 100%;
  transition: 0.3s;
}
.fa-square-facebook:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #1877f2;
}
.fa-instagram {
  opacity: 100%;
  transition: 0.3s;
}
.fa-instagram:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #e4405f;
}
.fa-twitter {
  opacity: 100%;
  transition: 0.3s;
}
.fa-twitter:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #1da1f2;
}
.fa-linkedin-in {
  opacity: 100%;
  transition: 0.3s;
}
.fa-linkedin-in:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #0a66c2;
}







footer {
  background-color: white;
  height: 700px;
}




.wheel {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  border: 2px solid gray;
}
.wheel:hover {
  border: 2px solid white;
  transition: all 0.2s;
}




.ner {
  color: solid white;
  opacity: 50%;
  font-size: 12px;
}
.ner:hover {
  opacity: 100%;
  transition: 0.2s;
}












.section-2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.posters {
  position: absolute;
  top: -200px;
  gap: 40px;
}
.zurag {
  overflow: hidden;
  transition: all 0.4s;
}
.zurag:hover {
  background-size: 175%;
}






.card {
  display: flex;
}

.card-animation {
    font-weight: 500;
    font-size: 14px;
    color: #0078f6;
    animation: blink 2s linear infinite;
  }
  @keyframes blink {
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.5;
    }
  }

.card-text {
  font-size: xx-large;
}